@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2>Hér getur komið eitthvað töff (ekki meira Tottenham stuff samt)</h2>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Jurgen Klopp</h2>
		<img src="~/Content/Pictures/klopp.jpg" alt="Klopp" width="400" height="300">
	</div>
	<div class="col-md-4">
		<h2>Dele Alli</h2>
		<img src="~/Content/Pictures/alli.JPG" alt="Alli" width="300" height="300">
	</div>
	<div class="col-md-4">
		<h2>Conor McGregor</h2>
		<img src="~/Content/Pictures/conor.jpg" alt="Conor" width="220" height="300">
	</div>
</div>

