
@{
    ViewBag.Title = "Description";
}

<h2>Description</h2>

<iframe src="~/Content/TextDocuments/ExampelDescription.txt" width="640" height="500">
    <p>Your browser does not support iframe...</p>
</iframe>