
@{
    ViewBag.Title = "Overview";
}


<h3>My Submitions</h3>

    <div class="table-responsive">
        
        <table class="table table-striped">
            <thead>
                <th>Number</th>
                <th>Time</th>
                <th>Result</th>
            </thead>
            <tbody>
                <!--Foreach stuff-->
                <tr class="danger">
                    <td>1</td>
                    <td>12:55</td>
                    <td>Wrong Output</td>
                </tr>
                <tr class="danger">
                    <td>2</td>
                    <td>12:58</td>
                    <td>Memory Error</td>
                </tr>
                <tr class="success">
                    <td>3</td>
                    <td>12:59</td>
                    <td>Accepted</td>
                </tr>
            </tbody>
        </table>
    </div>

<h3>All Submitions</h3>

    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <th>Number</th>
                <th>Time</th>
                <th>Result</th>
            </thead>
            <tbody>
                <!--Foreach stuff-->
                <tr class="danger">
                    <td>1</td>
                    <td>12:55</td>
                    <td>Wrong Output</td>
                </tr>
                <tr class="danger">
                    <td>2</td>
                    <td>12:58</td>
                    <td>Memory Error</td>
                </tr>
                <tr class="success">
                    <td>3</td>
                    <td>12:59</td>
                    <td>Accepted</td>
                </tr>
            </tbody>
        </table>
    </div>
