
@{
    ViewBag.Title = "AddUser";
}

<h2>Add Users</h2>

<form>
	<div class="form-group">
		<label for="Name">Name:</label>
		<input type="text" class="form-control" id="Name">
	</div>
	<div class="form-group">
		<label for="Username">Username:</label>
		<input type="text" class="form-control" id="Username">
	</div>
	<div class="form-group">
		<label for="Email">Email:</label>
		<input type="email" class="form-control" id="Email">
	</div>
	<div class="form-group">
		<label for="Password">Password:</label>
		<input type="password" class="form-control" id="Password">
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"> Check me out
		</label>
	</div>
	<button type="submit" class="btn btn-default">Add User</button>
</form>

<h2>All Users</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Header</th>
				<th>Header</th>
				<th>Header</th>
				<th>Header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1,003</td>
				<td>Integer</td>
				<td>nec</td>
				<td>odio</td>
				<td>Praesent</td>
			</tr>
			<tr>
				<td>1,003</td>
				<td>libero</td>
				<td>Sed</td>
				<td>cursus</td>
				<td>ante</td>
			</tr>
			<tr>
				<td>1,004</td>
				<td>dapibus</td>
				<td>diam</td>
				<td>Sed</td>
				<td>nisi</td>
			</tr>
			<tr>
				<td>1,005</td>
				<td>Nulla</td>
				<td>quis</td>
				<td>sem</td>
				<td>at</td>
			</tr>
			<tr>
				<td>1,006</td>
				<td>nibh</td>
				<td>elementum</td>
				<td>imperdiet</td>
				<td>Duis</td>
			</tr>
			<tr>
				<td>1,007</td>
				<td>sagittis</td>
				<td>ipsum</td>
				<td>Praesent</td>
				<td>mauris</td>
			</tr>


		</tbody>
	</table>
</div>