
@{
    ViewBag.Title = "AddUser";
}

<h2>Add Users</h2>

<form>
	<div class="form-group">
		<label for="Name">Name:</label>
		<input type="text" class="form-control" id="Name">
	</div>
	<div class="form-group">
		<label for="Username">Username:</label>
		<input type="text" class="form-control" id="Username">
	</div>
	<div class="form-group">
		<label for="Email">Email:</label>
		<input type="email" class="form-control" id="Email">
	</div>
	<div class="form-group">
		<label for="Password">Password:</label>
		<input type="password" class="form-control" id="Password">
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"> Check me out
		</label>
	</div>
	<button type="submit" class="btn btn-default">Create Course</button>
</form>
