
@model List<Mooshak_2._0.Controllers.CourseViewModel>
@{
    ViewBag.Title = "CreateCourse";
}


<h2>CreateCourse</h2>

@using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <label>
            Course Name:
            <input type="text" class="form-control" id="txtName" name="Name">
        </label>
    </div>

    <button type="submit" class="btn btn-default">Create Course</button>
}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>