
@{
	ViewBag.Users = "Users";
	ViewBag.Courses = "Courses";

}


<h3 class="sub-header">@ViewBag.Courses</h3>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Number of Teachers</th>
				<th>Number of Students</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="#">Gagnaskipan</a></td>
				<td>10</td>
				<td>121</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="#">Forritun</a></td>
				<td>12</td>
				<td>181</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="#">Verklegt</a></td>
				<td>0</td>
				<td>0</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>	
		</tbody>
	</table>
</div>

<h3 class="sub-header">@ViewBag.Users</h3>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Username</th>
				<th>Number of Courses</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="#">Jón Jónsson</a></td>
				<td>jon14</td>
				<td>1</td>
				<td>Teacher</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="#">Jón Jónsson</a></td>
				<td>jon14</td>
				<td>3</td>
				<td>Student</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="#">Jón Jónsson</a></td>
				<td>jon14</td>
				<td>1</td>
				<td>Teacher/Student</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="#">Jón Jónsson</a></td>
				<td>jon14</td>
				<td>0</td>
				<td>Teacher</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="#">Jón Jónsson</a></td>
				<td>jon14</td>
				<td>2</td>
				<td>Student</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="#">Jón Jónsson</a></td>
				<td>jon14</td>
				<td>1</td>
				<td>Student</td>
				<td><button type="button" class="btn btn-info">Delete</button></td>
			</tr>


		</tbody>
	</table>
</div>