@{
	ViewBag.Title = "CreateAssignment";
}

@using (Html.BeginForm("CreateAssignment", "Teacher", FormMethod.Post))
{
<fieldset>
    <legend>Create Assingment</legend>
    <div class="form-group">
        <label>
            Assignment:
            <input type="text" class="form-control" id="assignmentName" name="assignment">
        </label>
    </div>
    <div class="form-group">
        <label>
            Name:
            <input type="text" class="form-control" id="txtName" name="name">
        </label>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Description</label>
        <input type="file" id="descriptionInputFile">
        <p class="help-block">Assignment description.</p>
    </div>
    <div class="form-group">
        <label>
            Open:
            <input type="datetime-local" class="form-control" id="timeOpen" name="open">
            Close:
            <input type="datetime-local" class="form-control" id="timeClose" name="close">
        </label>
    </div>
    <div class="form-group">
        <label>
            Language:
            <select class="form-control">
                <option>C++</option>
                <option>C#</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            Group Size:
            <input type="text" class="form-control" id="groupSize" name="groupSize">
        </label>
    </div>
    <button type="submit" class="btn btn-default">Create Assignment</button>
</fieldset>
}