@{
	ViewBag.Title = "ReviewAssignment";
}
<h2>ReviewAssignment</h2>
<select>
	<!--Örugglega einhver foreach lykkja sem á að koma hér-->
	<option>Assignment 1</option>
	<option>Assignment 2</option>
	<option>Assignment 3</option>
</select>
<br />
<input type="search" name="searchInput" placeholder="Search...">
<br />
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<td>Stadus</td>
		<td>Username</td>
		<td>Result</td>
		<td>Number of Submissions</td>
		<td>Time</td>
		<td>Sub Assignment</td>
		<td>File</td>
		</thead>
		<tbody>
			<!--Foreach stuff-->
			<tr>
				<td>lorem ipstuff</td>
				<td>lorem ipstuff</td>
				<td>lorem ipstuff</td>
				<td>lorem ipstuff</td>
				<td>lorem ipstuff</td>
				<td>lorem ipstuff</td>
				<td>lorem ipstuff</td>
			</tr>
		</tbody>
	</table>
</div>