@{
	ViewBag.Title = "ReviewAssignment";
}

@using (Html.BeginForm("ReviewAssignment", "Teacher", FormMethod.Get))
{
<fieldset>
    <legend>Review Assignment</legend>

    <div class="form-group">
        <select>
            <!--Örugglega einhver foreach lykkja sem á að koma hér-->
            <option>Assignment 1</option>
            <option>Assignment 2</option>
            <option>Assignment 3</option>
        </select>
    </div>

    <div class="form-group">
        <input type="search" name="searchInput" placeholder="Search...">
    </div>
</fieldset>
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <td>Stadus</td>
        <td>Username</td>
        <td>Result</td>
        <td>Number of Submissions</td>
        <td>Time</td>
        <td>Sub Assignment</td>
        <td>File</td>
        </thead>
        <tbody>
            <!--Foreach stuff-->
            <tr>
                <td>lorem ipstuff</td>
                <td>lorem ipstuff</td>
                <td>lorem ipstuff</td>
                <td>lorem ipstuff</td>
                <td>lorem ipstuff</td>
                <td>lorem ipstuff</td>
                <td>lorem ipstuff</td>
            </tr>
        </tbody>
    </table>
</div>
